<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <title>Magazin Universal </title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body class="d-flex flex-column" style="min-height:100vh;">


<div th:replace="fragments/header :: header"/>
<div class="container flex-fill shadow-lg p-3 mb-5  bg-white rounded" >
    <div sec:authorize="isAuthenticated()">
        <div class="container">
            <h3>Users List</h3>
            <table class="table table-bordered table-striped">
                <thead class="thead-light">
                <tr>
                    <th>#</th>

                    <th sec:authorize="hasAuthority('ADMIN')" >Actions</th>

                    <th>UserName</th>
                    <th>FullName</th>
                    <th>Address</th>
                    <th>Email</th>
                    <th>Role</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="aUser: ${listOfUsers}">
                    <td th:text="${aUser.id}" />

                    <td sec:authorize="hasAuthority('ADMIN')">E.D.V</td>

                    <td th:text="${aUser.username}" />
                    <td th:text="${aUser.fullName}" />
                    <td th:text="${aUser.address}" />
                    <td th:text="${aUser.email}" />
                    <td th:text="${aUser.role.name}" />
                </tr>
                </tbody>
            </table>
        </div>
        <form id="logoutForm" method="POST" th:action="@{/logout}">
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        </form>

        <h2>Welcome <span sec:authentication="principal.authorities"></span> | <a onclick="document.forms['logoutForm'].submit()">Logout</a></h2>
    </div>

</div>

<script src = "https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity = "sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin = "anonymous">
</script>

<!-- Popper -->
<script src = "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity = "sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin = "anonymous">
</script>

<!-- Latest compiled and minified Bootstrap JavaScript -->
<script src =" https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity = "sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin = "anonymous">
</script>
</body>
</html>